# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist

# Misc
.DS_Store
*.pem

# IDEs and Editors
/.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environnent
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite / Build
*.log
.vite
.next
